div.lists {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    width: 90%;
    margin: auto;
}

div.lists a {
    color: var(--green);
    background-color: var(--secondary-color-opacity);

    padding: 5px;

    border: 2px solid var(--secondary-color);
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    font-family: var(--main-font);

    margin: 5px;
    flex: 1 0 25%;
}

div.lists a:hover {
    scale: 1.1;
    color: var(--orange);

    transition: .2s;
}